body {
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: transparent;
	padding-top: 60px;
}

header {
	text-align: center;
	color: white;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 18px;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 800px;
}

table {
   width: 100%;
   border-collapse: collapse;
}

.form-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 50px;
	color: black;
}

form {
	border: 1px solid white;
	border-radius: 15px;
	width: 500px;
	background-color: #d3d3d3 ;
}

.form-check {
	text-align: left;
}

.table-container {
   margin-top: 40px;
   display: block;
   overflow-y: auto;
}

th, td {
   padding: 0.75rem;
   border: 1px solid #dee2e6;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.form-search {
    background-color: transparent;
    padding: 1rem;
    border-radius: 5px;
    flex-grow: 1;
}

.form-control{
    border: 2px solid  #dee2e6;
}

.btn-search {
    width: auto;
    max-width: 150px;
}

